@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer base {
//   @font-face {
//     font-family: SpaceMono;
//     src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Gilroy;
//     src: url("../assets/fonts/Gilroy-Thin.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 100;
//     src: url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 100;
//     src: url("../assets/fonts/Raleway-ThinItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 200;
//     src: url("../assets/fonts/Raleway-ExtraLight.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 200;
//     src: url("../assets/fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 300;
//     src: url("../assets/fonts/Raleway-Light.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 300;
//     src: url("../assets/fonts/Raleway-LightItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 400;
//     src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 400;
//     src: url("../assets/fonts/Raleway-Italic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 500;
//     src: url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 500;
//     src: url("../assets/fonts/Raleway-MediumItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 600;
//     src: url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 600;
//     src: url("../assets/fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 700;
//     src: url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 700;
//     src: url("../assets/fonts/Raleway-BoldItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 800;
//     src: url("../assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 800;
//     src: url("../assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-weight: 900;
//     src: url("../assets/fonts/Raleway-Black.ttf") format("truetype");
//   }

//   @font-face {
//     font-family: Raleway;
//     font-style: italic;
//     font-weight: 900;
//     src: url("../assets/fonts/Raleway-BlackItalic.ttf") format("truetype");
//   }
// }

*,
button {
  @apply tw-outline-none tw-box-border tw-transition-all;
}

input,
textarea {
  @apply focus:tw-outline-none;
}

html {
  @apply tw-scroll-smooth tw-h-full;
}

body {
  @apply tw-h-full tw-overscroll-none;
}

div {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */

  /* for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    @apply tw-hidden;
  }
}

a {
  @apply tw-no-underline;
}

li {
  @apply tw-list-none;
}

svg {
  @apply tw-stroke-[1.5] tw-scale-100 tw-pb-1;
}
